* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
}

.max-w {
  max-width: 1300px;
  margin: 0 auto;
}

.header {
  padding: 1rem;
  position: relative;
  width: 100%;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav .logo {
  font-size: 1.4rem;
  font-weight: bolder;
  cursor: pointer;
}

.header__nav .hamburger-icon {
  width: 30px;
  cursor: pointer;
  background-color: #fff;
}

.sidebar {
  width: 0;
  height: 100%;
  background: #000;
  position: fixed;
  right: 0;
  top: 0;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
  /* display: none; */
}

.sidebar ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar ul li {
  list-style: none;
  padding: 2rem;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar ul li a .icons {
  color: #fff;
  font-size: 18px;
  margin: 0 1rem 0 3rem;
}

.sidebar ul li:hover {
  background-color: #232324;
}

.sidebar ul li:hover a {
  color: #fff;
}

.close {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 100%;
  position: absolute;
  top: 1.5rem;
  right: 0.5rem;
  display: none;
}

.close i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  color: #000;
}

.hero {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 1rem;
  min-height: 80vh;
}

.hero__content .heading {
  font-size: 3.7rem;
}

.hero__content .text {
  margin-top: 1rem;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  line-height: 2rem;
}

.hero__content .cta {
  margin-top: 2rem;
  width: 200px;
  font-size: 1.2rem;
  height: 60px;
  text-transform: uppercase;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.hero__image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  border-top-right-radius: 40px;
}

.hero__image .image {
  border-top-right-radius: 40px;
  max-width: 600px;
  border-bottom-left-radius: 40px;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .hero {
    flex-direction: row;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
  }

  .hero__image {
    margin-top: 2rem;
    border-top-right-radius: 40px;
    width: 50%;
    border-bottom-left-radius: 40px;
    max-width: 600px;
    margin-left: auto;
  }

  .hero__image .image {
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    width: 100%;
  }
}
